<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>instagram API</title>
</head>
<body>


            <%  pictures.each do |picture| %>
            
            <img src="<%= picture %>">

            <% end %>


	
</body>
</html>